/* 
============
Global Styles
============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

/* button */
.btn {
  display: inline-block;

  padding: 0.5rem 1rem;
  margin: 3rem;
  border: 3px solid var(--primaryColor);

  text-transform: capitalize;
  color: var(--primaryColor);

  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.title {
  text-align: center;
}
/* 
============
Main navbar
============
*/
.navbar {
  background: var(--darkGrey);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-center {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
}
.nav-logo {
  font-size: 1.5rem;
}
.nav-toggle {
  border: transparent;
  background: transparent;
  justify-self: end;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--primaryColor);
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--offWhite);
  background: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  list-style: none;
  transition: var(--transition);
}
.showNav {
  height: 160px;
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
  }
  .nav-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}
/* 
============
Hero
============
*/
.hero {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(105, 161, 230, 0.6)),
    url(./images/image-3.jpeg) center/cover fixed no-repeat;
}

.hero-banner {
  margin: 0 auto;
  text-align: center;
}
.hero-banner h1 {
  color: var(--mainWhite);
}
.hero-banner p {
  max-width: 35rem;
  margin: 0 auto;
  color: var(--offWhite);
}
/* 
============
Cards
============
*/

.cards {
  padding: 4rem 0;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
  /* 可替代以下 media query */
  display: grid;
  column-gap: 2rem;
  /* three columns layout */
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((1170px - 2rem * 2) / 3), 1fr)
  );
  /* four columns layout */
  /* grid-template-columns: repeat(
    auto-fill,
    minmax(calc((1170px - 2rem * 3) / 4), 1fr)
  ); */
}
/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  /* 為了避免每張卡片的文字數量不一樣 */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card-footer span {
  color: var(--primaryColor);
}
/* 
============
Gallery
============
*/
.gallery {
  padding: 4rem 0;
}
.gallery-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem 2rem;
}
@media screen and (min-width: 768px) {
  .gallery-center {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media screen and (min-width: 992px) {
  .gallery-center {
    grid-template-columns: repeat(3, 3fr);
  }
}
@media screen and (min-width: 1170px) {
  .gallery-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .gallery img {
    height: 100%;
    object-fit: cover;
  }
  .gallery-picture-1 {
    grid-area: a;
  }
  .gallery-picture-2 {
    grid-area: b;
  }
  .gallery-picture-3 {
    grid-area: c;
  }
  .gallery-picture-4 {
    grid-area: d;
  }
  .gallery-picture-5 {
    grid-area: e;
  }
  .gallery-picture-6 {
    grid-area: f;
  }
  .gallery-picture-7 {
    grid-area: g;
  }
  .gallery-picture-8 {
    grid-area: h;
  }
  .gallery-picture-9 {
    grid-area: i;
  }
}
/* 
============
Layout
============
*/
.header {
  background: var(--primaryColor);
  color: var(--mainWhite);
  padding: 0.5rem 0;
  text-align: center;
}
.nav {
  background: var(--darkGrey);
}
.nav li {
  list-style-type: none;
}
.nav a {
  padding: 1rem;
  display: block;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  color: var(--mainBlack);
  transition: var(--transition);
}
.nav a:hover {
  color: var(--offWhite);
}
.content {
  padding: 2rem;
}
.content p {
  font-size: 1rem;
}
.sidebar {
  background: var(--primaryColor);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--mainWhite);
  font-size: 1.2rem;
}
.footer {
  background: var(--mainBlack);
  padding: 0.5rem 0;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
}
.footer p {
  font-size: 1.2rem;
}
.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}
@media screen and (min-width: 768px) {
  .nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
/* 可用以下 grid-template-areas 和 grid-area 方式 */
@media screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: [start] 200px [col-1-end]1fr[col-2-end] 50px [end];
    grid-template-rows: [start]auto[row-1-end] 1fr [row-2-end] auto [end];
  }
  .header {
    grid-row: start/row-1-end;
    grid-column: start/end;
  }
  .nav {
    grid-row: row-1-end/row-2-end;
    grid-column: start/col-1-end;
  }
  .content {
    grid-row: row-1-end/row-2-end;
    grid-column: col-1-end/col-2-end;
  }
  .sidebar {
    grid-row: row-1-end/row-2-end;
    grid-column: col-2-end/end;
  }
  .footer {
    grid-area: row-2-end/start/end/end;
  }
  .nav ul {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
  }
  .sidebar {
    background: var(--darkGrey);
    grid-template-columns: 1fr;
    align-items: center;
  }
}
/* @media screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: [start] 200px [col-1-end]1fr[col-2-end] 50px [end];
    grid-template-rows: [start]auto[row-1-end] 1fr [row-2-end] auto [end];
    grid-template-areas:
      "a a a"
      "b c d"
      "e e e";
  }
  .header {
    grid-area: a;
  }
  .nav {
    grid-area: b;
  }
  .content {
    grid-area: c;
  }
  .sidebar {
    grid-area: d;
  }
  .footer {
    grid-area: e;
  }
  .nav ul {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
  }
  .sidebar {
    background: var(--darkGrey);
    grid-template-columns: 1fr;
    align-items: center;
  }
} */
